.container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: relative;
    padding-top: 21px;
    background-color: #EDF4FFCC;
    background-image: radial-gradient(#d2d6db4b 5px, transparent 5px);
    background-size: 35px 35px;
    z-index: 2;
    overflow: hidden;
}

.schemaContainer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;

    @media screen and (max-height: 1000px) {
        transform: scale(0.9);
    }

    .gusLine {
        position: absolute;
        left: 181px;
        top: 14px;
        z-index: 1;
    }

    .boiler01 {
        position: absolute;
        left: 630px;
        top: 415px;
        z-index: 3;
    }

    .boiler02 {
        position: absolute;
        left: 630px;
        top: 616px;
        z-index: 3;
    }

    .pumpMain01 {
        position: absolute;
        left: 967px;
        top: 585px;
        z-index: 3;
    }

    .pumpMain02 {
        position: absolute;
        left: 967px;
        top: 705px;
        flex-direction: column-reverse;
        z-index: 3;
    }

    .waterLineIn {
        position: absolute;
        left: 574px;
        top: 451px;
        z-index: 2;
    }

    .waterLineOut {
        position: absolute;
        left: 858px;
        top: 451px;
        z-index: 2;
    }

    .waterLineSub {
        position: absolute;
        left: 1139px;
        top: 383px;
        z-index: 2;
    }

    .pumpSub01 {
        position: absolute;
        left: 1258px;
        top: 324px;
        z-index: 3;
    }

    .pumpSub02 {
        display: flex;
        flex-direction: column-reverse;
        position: absolute;
        left: 1258px;
        top: 421px;
        z-index: 3;
    }
}

.sideMenu {
    position: absolute;
    left: 0;
    top: 21px;
}

.console {
    position: absolute;
    right: 0;
    bottom: 0;
}

.modal {
    position: absolute;
    z-index: 6;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.title {
    position: absolute;
    z-index: 4;
    left: 50%;
    transform: translate(-50%, 0);
    top: 21px;
    color: #000;
    text-align: center;
    font-family: 'Roboto';
    font-size: 26px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
}

.buttonContainer {
    position: absolute;
    top: 33px;
    right: 60px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    gap: 26px;
    z-index: 5;
}

.button {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 57px;
    aspect-ratio: 1;
    border: 0;
    background-color: #fff;
    border-radius: 50%;
    border: 3px solid #000;
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;

    &:hover {
        opacity: 0.7;
        transform: scale(1.02);
    }
}

.icon {
    width: 25px;
    aspect-ratio: 1;
}

.buttonAttention {
    background-color: #FFD18C;
}

.buttonAlarm {
    background-color: #FF8A8A;
}